.container {
  width: 100%;
  max-height: 594px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1688px) {
  .container {
    max-height: 428px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-height: 496px;
  }
}
@media (max-width: 768px) {
  .container {
    max-height: 547px;
  }
}
